/**
 * Styles for WordCamps in Switzerland
 * using the CampSite 2017 Theme and Gutenberg Blocks
 *
 * First implementation: WordCamp Geneva 2020 - https://2020.geneve.wordcamp.org/
 * Design choices by Benoît Chantre - https://benoitchantre.com/
 * CSS authorship by Mark Howells-Mead - https://sayhello.ch/
 * Additional support by András Guseo - https://andrasguseo.com/
 */

// Config

$unit: 1.5rem;

$align-narrow: 640px;
$align-medium: 800px;
$align-wide: 1280px;

$accent: #005EA7;
$accent-dark: #163963;

$blue-dark: #245da3;
$gray-dark: #444;
$gray-darker: #666;
$gray-mid: #919191;
$gray-light: #ccc;
$gray-lighter: #e6e9e9;
$gray-lightest: #f0efee;
$white: #fff;
$pink: #B5007C;
$brown: #930;

$bold-weight: 700;
$button-weight: 600;
$label-weight: 600;
$text-weight: 400;
$title-weight: 600;

$blockquote-border: $gray-lighter;
$body-background: $gray-lightest;
$body-color: $gray-dark;
$button-background: $accent;
$button-color: $white;
$code-background: $gray-lightest;
$code-color: $brown;
$code-border: $gray-light;
$field-border: $gray-light;
$pullquote-background: $gray-lighter;

$header-logo: 'https://2020.geneve.wordcamp.org/files/2019/11/Logo-WCGVA-2020-white.png';
$header-overlay-color: rgba(0, 94, 167, 0.7);

$menu-background: rgba($white, .95);
$menu-shadow: rgba(0, 94, 167, 0.35);

// Mixins

$link-colour: $accent;
$link-shadow: #f0f3f3;

@mixin text-underline-crop($background) {
	text-shadow: .03em 0 $background, 
				-.03em 0 $background,
				0 .03em $background,
				0 -.03em $background,
				.06em 0 $background,
				-.06em 0 $background,
				.09em 0 $background,
				-.09em 0 $background,
				.12em 0 $background,
				-.12em 0 $background,
				.15em 0 $background,
				-.15em 0 $background;
}

@mixin text-underline($color-bg, $color-text) {
	background-image: linear-gradient(rgba($color-text, .75), rgba($color-text, .75));
	background-size: 1px 1px;
	background-repeat: repeat-x;
	background-position: 0% 95%;
}

@mixin link-underline($background, $text){
	@include text-underline-crop($background);
	@include text-underline($background, $text);

	color: $text;
	text-decoration: none;

	*,
	*:after,
	&:after,
	*:before,
	&:before {
		text-shadow: none;
	}

	&:visited {
		color: $text;
	}

	&::selection {
		text-shadow: none;
	}
}

// Helpers

.c-stack {
	> * {
		margin-top: $unit;
		margin-bottom: $unit;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.c-stack--small {
	> * {
		margin-top: $unit/2;
		margin-bottom: $unit/2;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Rules

:focus {
	outline: 2px auto $accent;
}

a:focus {
	outline: 2px auto $accent;
}

body {
	font-family: 'Lato', sans-serif;
	background: $body-background;
	font-weight: $text-weight;
	font-size: 1rem;
	line-height: 1.5;
	color: $body-color;
	margin: 0;

	@media (min-width:768px) {
		font-size: 1.125rem;
	}

}

a {
	transition: color 450ms ease;
	color: $accent;
	@include link-underline($link-shadow, $link-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	font-weight: $title-weight;
	color: $accent;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.125em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.875em;
}

ul {
	margin-left: 0;
}


::selection {
	color: $white;
	background-color: $accent;
}

hr {
	clear: both;
	margin: 4rem 0;
	padding: 0;
	border-style: dotted;
	border-width: 1px 0 0;
	border-color: $accent;
	height: 0;

	@media (min-width:48em) {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	@media (min-width:62em) {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}

}

figure,
img {
	display: block;
	max-width: 100%;
}

figcaption {
	margin-top: 0.5rem;
	margin-bottom: 0;
	color: rgba(0,0,0,.6);
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	margin-bottom: $unit;
}

caption {
	margin-bottom: 0.5rem;
}

td,
th {
	padding: 0.5rem 1rem;
	border-top: 1px solid rgba(0,0,0,.1);
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
	@media (min-width:48em) {
		padding: 1rem;
	}
}

b,
strong {
	font-weight: $bold-weight;
}

a {
	text-decoration: none;
	color: $accent;
	word-break: break-word;

	&:active,
	&:hover {
		text-decoration: none;
		color: $accent;
	}
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

li {
	margin-top: 0.25rem;

	&:first-child {
		margin-top: 0;
	}
}

blockquote {
	margin: 0 -$unit $unit;
	padding: 0 $unit 0 calc(#{$unit} - 4px);
	border-left: 4px solid $blockquote-border;
	font-style: italic;
	@extend .c-stack;
	color: #000;
}

cite {
	opacity: 0.7;
}

code,
pre {
	border: 1px solid $code-border;
	border-radius: 0.1875rem;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.5;
	color: rgba(0,0,0,.75);
	font-family: Consolas, Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	-moz-tab-size: 2;
	tab-size: 2;
}

code {
	padding: 0.125rem 0.1875rem;
	background-color: $code-background;
	color: $code-color;
}

pre {
	margin: $unit 0;
	padding: $unit;
	overflow: scroll;
	color: $code-color;

	code {
		border-radius: 0;
		border: 0;
		padding: 0;
		background: transparent;
	}
}

/***** Gutenberg *****/

.alignfull,
.alignwide,
.alignnarrow {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
}

.alignfull {
	max-width: 100vw;
}

.alignwide {
	max-width: $align-wide;
}

.alignnarrow {
	max-width: $align-narrow;
}

.comments-area {
	max-width: $align-narrow;
	margin-left: auto;
	margin-right: auto;
	@extend .c-stack;
}

.entry-summary {
	margin: 0;
}

.error-404 {
	margin-left: auto;
	margin-right: auto;
	@extend .c-stack;
	.page-content {
		max-width: $align-narrow;
		margin-left: auto;
		margin-right: auto;
		@extend .c-stack;
	}
}

.entry-content {
	max-width: $align-narrow;
	margin-left: auto;
	margin-right: auto;
	@extend .c-stack;

	> hr {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	a.more-link {
		padding: 0.5rem 1rem;
		background: $accent;
		color: $white;
		text-shadow: none;
		background-image: none;
	}

	.has-small-font-size {
		font-size: 0.8125em;
		line-height: 1.5;
	}

	.has-medium-font-size {
		font-size: 1.25em;
		line-height: 1.6;
	}

	.align-left {
		display: inline;
		float: left;
		margin-right: 1.5em;
	}

	.jetpack_subscription_widget #subscribe-email input[type=email]:-ms-input-placeholder {
		color: rgba(54,57,59,.8);
	}

	.jetpack_subscription_widget #subscribe-email input[type=email]::placeholder {
		color: rgba(54,57,59,.8);
	}

	.jetpack_subscription_widget #subscribe-email input[type=email] {
		background-color: $white;
		box-shadow: inset 0 0.125rem 0 0 #f7f7fc;
		border: 1px solid #ccc;
		color: #36393b;
	}

}

.post {
	@extend .c-stack;
	.entry-content {
		@media screen and (min-width:768px){
			margin-top: 4rem;
		}
	}
}

.wp-block-button {
	text-align: center;

	&__link {
		font-size: 1.3em;
		padding: 0.5em 1em;
		border-radius: 0;
		background-color: $accent;
		color: $white;
		border-bottom: 0 !important;
				background-image: none;
				text-shadow: none;

		@media (min-width: 768px) {
			font-size: 1.25em;
		}
	}

	&._float {
		margin-bottom: 0;
		position: fixed;
		bottom: 10px;
		right: 10px;
		z-index: 90;

		@media (max-width: 768px) {
			left: 10px;
			width: calc(100% - 20px);
		}
	}
}

.wp-block-gallery {
	margin-left: 0;
	margin-right: 0;
}

.wp-block-latest-posts {
	padding-left: 0;
	li > a {
		font-size: 1.1875em;
	}
}

.wp-block-pullquote {
	padding-top: $unit;
	padding-bottom: $unit;

	blockquote {
		font-size: 1.05em;
		padding: $unit;
		border-width: 2px 0;
		background-color: $pullquote-background;
	}
}

.wp-block-quote {
	.is-large p,
	.is-style-large p {
		margin-top: $unit;
		margin-bottom: $unit;
	}
}

.wp-block-table {
	box-shadow: 0 20px 40px rgba(0,0,0,.1);

	th {
		background-color: $accent;
		color: $white;
		font-size: 0.9375rem;
		font-weight: $text-weight;
	}

	tbody {
		background-color: $white;
	}
}



.site {
	overflow: hidden;
	position: relative;
}


.site-main {
	margin-bottom: 5rem;

	.post-navigation {
		overflow: visible;

		.nav-links {
			@extend .c-stack--small;
			@extend .alignnarrow;
			padding-left: $unit;
			padding-right: $unit;
			font-size: .875rem;

			@media screen and (min-width:768px){
				padding-left: 0;
				padding-right: 0;
			}
			
			@media screen and (min-width: 768px){
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			> * {
				flex: 0 0 50%;
				display: flex;
				align-items: center;
				float: none;
				width: 100%;

				@media screen and (min-width: 768px){
					margin-top: 0;
					margin-bottom: 0;
				}

				&:nth-child(2) {
					justify-content: flex-end;
					text-align: right;
				}
			}
		}
	}
}

#footer-widgets {
	padding: 2.5rem $unit 0;
	@media (min-width: 768px) {
		padding: 3rem 2rem 0;
	}
	@media (min-width: 992px) {
		padding: 4rem 3rem 0;
	}
}

#content {
	padding: 0 $unit;
	@media (min-width: 768px) {
		padding: 0 2rem;
	}
	@media (min-width: 992px) {
		padding: 0 3rem;
	}
}

#secondary {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-top: $unit;
	@media (min-width:48em) {
		margin-top: 3rem;
	}
	@media (min-width:62em) {
		margin-top: 4rem;
	}
}

#footer-widgets {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
}

#after-header-widgets,
#before-content-widgets {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#content-widgets {
	margin-top: -$unit;
	margin-bottom: $unit;
}

@media (min-width:48em) {
	#content-widgets {
		margin-top: -3rem;
		margin-bottom: 3rem;
	}
}

@media (min-width:62em) {
	#content-widgets {
		margin-top: -4rem;
		margin-bottom: 4rem;
	}
}

@media screen and (min-width:768px) {
	#tggr-media-item-container,
	#tix,
	#tix-attendees {
		margin-left: -2.5rem;
		margin-right: -2.5rem;
	}
}

@media screen and (min-width:1024px) {
	#tggr-media-item-container,
	#tix,
	#tix-attendees {
		margin-left: -10rem;
		margin-right: -10rem;
	}
}
/***** Centering header imgage on superlarge screens *****/
@media screen and (min-width: 1920px) {
	.entry-header img {
		margin-left: auto;
		margin-right: auto;
	}
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
	color: $button-color;
	background-color: $button-background;
	background-image: none;
	border: none;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
	font-weight: $button-weight;
	font-size: 1rem;
	padding: 1rem 2rem;
	text-transform: uppercase;
	text-shadow: none;
	transition: background-color 0.3s;
}

input:not([type]),
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
	display: block;
	width: 100%;
	padding: 0.25rem 0.5rem;
	margin: 0;
	border: 1px solid #ccc;
	border-radius: 0;
	box-sizing: border-box;
	background-color: $white;
	font-size: 1em;
	font-weight: $text-weight;
	box-shadow: inset 0 0.125rem 0 0 #f7f7fc;
	-webkit-appearance: none;
}

select {
	border: 1px solid $accent;
	border-radius: 2px;
	cursor: pointer;
	font-size: 1em;
	font-weight: $text-weight;
	height: 40px;
	box-shadow: none;
	background: 0 0;
	background-image: none;
}

@media only screen and (max-width:767px) {
	.contact-form input[type=email],
	.contact-form input[type=text],
	.contact-form input[type=url],
	.contact-form textarea {
		width: 80%;
	}
}

.site-header {
	box-shadow: 0 0 .25rem $menu-shadow;

	.custom-header, .pageheader {
		clear: both;
		display: none;
	}
}


.site-header .custom-header .custom-logo,
.site-header .custom-header .custom-logo-link {
	display: none;
}

.site-header .custom-header .site-branding {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	text-align: center;
}

.site-header .custom-header .site-title {
	text-align: center;
	width: 80%;
	max-width: 100%;
	display: inline-block;
	margin-top: 0;
}

.site-header .custom-header .site-title a {
	display: inherit;
	color: $accent;
	background-image: none;
	text-shadow: none;
}

.site-header .custom-header .site-title a:before {
	background: url('https://2020.geneve.wordcamp.org/files/2019/09/Logo-WCGVA-2020-233x300.png') center/cover no-repeat;
	content: '';
	display: block;
	height: 120px;
	width: 120px;
	background-size: contain;
	margin: 0 auto 0.5em;
}

.site-header .site-title {
	font-weight: $title-weight;
	margin-bottom: 0.5rem;
	line-height: 1.25em;
}

.site-header .custom-header .site-description {
	display: none;
	color: #0d5abc;
	font-size: 0.8em;
	line-height: 1.3;
	padding-top: 0.5em;
	margin: 0;
}

.site-header .custom-header .site-branding {
	padding-top: 2.5em;
	padding-bottom: 0;
}

.site-header .custom-header .site-description {
	text-align: center;
	font-size: 1em;
}

@media screen and (min-width:768px) {
	.site-header .custom-header .site-title {
		width: 100%;
	}
}

@media screen and (min-width:1024px) {
	.site-header .custom-header .site-branding {
		padding-top: 5.5em;
	}

	.site-header .custom-header .site-title a:before {
		height: 200px;
		width: 200px;
	}

	.home .site-header .custom-header .site-title {
		font-size: 3.215em;
	}

	.page .site-header .custom-header .site-title,
	.single .site-header .custom-header .site-title {
		font-size: 1.667em;
	}

	.site-header .custom-header .site-description {
		font-size: 1.1em;
	}
}

.cta-button {
	border: 1px solid $accent;
	display: table;
	margin: 30px auto;
	width: 700px;
}

.cta-button a,
.cta-button p {
	display: table-cell;
	margin: 0;
	padding: 10px 20px;
	font-size: 1.2em;
	vertical-align: middle;
}

.cta-button a {
	background-color: $accent;
	color: $white !important;
	font-size: 1.6em;
	text-transform: uppercase;
	text-align: center;
}

@media only screen and (max-width:767px) {
	.cta-button {
		text-align: center;
		width: 80%;
	}

	.cta-button a,
	.cta-button p {
		display: block;
	}
}

#header-widgets {
	padding-bottom: 0;
}

@media screen and (min-width:1024px) {
	#header-widgets {
		padding-bottom: 2.5em;
	}
}

#header-widgets .widget {
	text-align: center;
}

#header-widgets .widget_media_image {
	display: none;
}

.secondary-navigation {
	min-height: 44px;
}

.main-navigation {
	display: none;
}

.menu-toggle {
	background-color: $white;
	color: $accent;
	display: block;
	width: 100%;
	height: 44px;
	font-size: 0;
	border: none;
	border-radius: 0;
	text-align: center;
	z-index: 1000;
	transition: all 0.3s;
	
	&:after,
	&:before {
		display: inline-block;
	}

	&:before {
		content: '\f0c9';
		display: inline-block;
		font-family: FontAwesome;
		font-size: 1rem;
		margin-right: 0.5em;
	}

	&:after {
		font-size: 1rem;
		content: 'MENU';
	}

	&:active,
	&:focus,
	&:hover {
		background-color: $white;
	}

	&[aria-expanded="true"] {
		color: $white;
		background-color: $accent;
	}

	.js & {
		@media screen and (min-width: 37.5em) {
			display: flex;
			justify-content: center;
			align-items: baseline;
		}
	}

}

.toggled-on .menu-toggle:before {
	content: '\f0d7';
}

.toggled-on ul.menu {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.menu {
	background: $menu-background;
}

.menu:after,
.menu:before {
	content: ' ';
	display: table;
}

.menu:after {
	clear: both;
}

.menu li {
	float: none;
}

.menu-item {
	position: relative;
	margin: 0;
	font-size: 1.125em;
}

.menu-item a {
	color: #36393b;
	padding: 0.75rem 2rem;
	background: none;
	text-shadow: none;
}

.menu-item a.focus,
.menu-item a:active,
.menu-item a:hover {
	background: $white;
	color: $accent;
}

.menu-item a.focus
{
	background: $accent;
	color: $white;
}

.menu-item.call-to-action {
	-ms-flex-order: -1;
	order: -1;
}

.menu-item.call-to-action a {
	background: $accent;
	text-transform: uppercase;
}

.current-menu-item > a {
	color: $accent;
}

.menu-item-has-children .dropdown-toggle {
	display: none;
}

.page-navigation-container ul {
	display: none;
}

.page-navigation-container ul ul {
	box-shadow: none;
	float: none;
	position: relative;
	top: 0;
	left: 0;
}

.page-navigation-container ul ul a {
	width: 100%;
}

.sub-menu {
	padding-bottom: 1rem;
}

.sub-menu a {
	font-size: 0.75em;
	padding: 0.25rem 2rem 0.25rem 3.25rem;
	border: none;
}

.sub-menu a:before {
	position: absolute;
	left: 2rem;
	font-size: 10px;
	color: #0d5abc;
	transform: rotate(45deg);
	color: $white;
}

.sub-menu .current-menu-item a:before {
	color: #f5f1e8;
}

@media screen and (min-width:37.5em) {
	.menu-toggle {
		min-height: 56px;
	}

	.js .menu-toggle {
		display: block;
	}
}

@media screen and (min-width:1024px) {
	.js .dropdown-toggle,
	.js .menu-toggle,
	.menu-toggle {
		display: none;
	}

	.page-navigation-container ul {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.page-navigation-container ul a {
		border: none;
	}

	.page-navigation-container ul ul.sub-menu {
		display: none;
	}

	.current-menu-ancestor > a {
		color: $accent;
	}

	.menu-item a {
		font-size: 1.125rem;
		padding: 0.75rem 1rem;
	}

	.menu-item.call-to-action {
		-ms-flex-order: 0;
		order: 0;
	}

	.menu-item-has-children a:after {
		content: '\f107';
		margin-left: 0.5em;
		color: $accent;
		display: inline-block;
		font-family: FontAwesome;
		font-size: 1rem;
	}

	.menu-item-has-children:hover > .sub-menu {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 16.25rem;
		background: $white;
		padding: 0;
	}

	.menu-item-has-children:hover > .sub-menu li a {
		font-size: 1rem;
		padding: 0.5rem 1rem 0.5rem 2.5rem;
	}

	.menu-item-has-children:hover > .sub-menu li a:before {
		left: 1.25rem;
	}

	.menu-item-has-children:hover > .sub-menu li a:after {
		display: none;
	}

	.menu-item-has-children:hover > .sub-menu .current-menu-item a:after {
		color: #f5f1e8;
	}
}

.entry-header {
	text-align: center;
	img {
		margin-left: auto;
		margin-right: auto;
	}

	.entry-image {
		@extend .alignfull;
		overflow: hidden;
		margin-bottom: 4rem;
		position: relative;

		img {
			display: block;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			filter: grayscale(1);
		}

		&::before {
			display: block;
			content: '';
			background: $header-overlay-color url("#{$header-logo}") center no-repeat;
			background-size: auto 85%;
			width: 100%;
			padding-bottom: 25%;
			position: relative;
			z-index: 1;

			@media screen and (min-width: 768px){
				background-size: 233px auto;
			}

			.blog & {
				background-size: auto 90%;
			}
		}

		.blog & {
			max-width: $align-narrow;
			@media (min-width: 1024px){
				max-width: $align-medium;
			}
		}
	}
}

.page-title {
	text-align: center;
}

.entry-title {
	color: $accent;
	margin-top: .5em;
	margin-bottom: .5em;
	font-size: 1.953em;

	@media screen and (min-width: 768px){
		&:first-child {
			margin-top: 8rem;
		}
	}

	.page & {
		margin-bottom: 4rem;
	}
}

.page .entry-title,
.single .entry-title {
	font-size: 2.441em;
}

.entry-meta {
	font-size: .88888888rem;
	color: $gray-darker;
	a {
		background: none;
		color: inherit;
	}
}

.home .entry-meta .byline {
	display: inline;
}

.page-content a:hover {
	border-bottom: 1px solid $accent;
}

.hentry {
	margin-bottom: 2.5rem;
	padding-bottom: 2.5rem;
	position: relative;
}

.hentry::after {
	background-color: #eee;
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.entry-footer .comments-link {
	margin-right: 1rem;
}

.entry-footer .comments-link a {
	padding-bottom: 0.25em;
	border-bottom: 1px dotted #0d5abc;
}

.site-main .post-navigation .nav-previous a:before,
.site-main .posts-navigation .nav-previous a:before,
.site-main .post-navigation .nav-next a:after,
.site-main .posts-navigation .nav-next a:after {
	color: $accent;
	font-family: FontAwesome;
	font-size: 1rem;
}

.site-main .post-navigation .nav-previous a:before,
.site-main .posts-navigation .nav-previous a:before {
	display: inline-block;
	content: '\f104';
	margin-right: 0.5em;
}

.site-main .post-navigation .nav-next a:after,
.site-main .posts-navigation .nav-next a:after {
	display: inline-block;
	content: '\f105';
	margin-left: 0.5em;
}

.comments-area {
	margin-top: 2.5rem;
}

.comments-title {
	font-size: 1em;
	margin-bottom: 1rem;
}

ol.comment-list {
	margin: 0 0 1.5em;
	padding: 0;
	list-style: none;
}

ol.comment-list > .comment {
	margin-top: $unit;
	margin-bottom: $unit;
	border-bottom: 1px solid #eee;
}

ol.comment-list .pingback {
	font-size: 0.9375rem;
	line-height: 1.5;
}

ol.children {
	margin-left: 1rem;
	padding-left: 0;
	list-style: none;
}

article.comment-body {
	position: relative;
	padding-left: 0;
	margin-bottom: $unit;
}

article.comment-body .comment-author {
	display: block;
	font-size: 0.8em;
	line-height: 1.5;
}

article.comment-body .comment-author .avatar {
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 0;
}

article.comment-body .comment-author b.fn {
	margin-left: 3rem;
}

article.comment-body .comment-author b.fn a {
	color: $accent;
}

article.comment-body .comment-author .says {
	display: none;
}

article.comment-body .comment-metadata {
	font-size: 0.64em;
	line-height: 1.4;
	margin-left: 3.25rem;
}

article.comment-body .comment-metadata a {
	color: $accent;
}

article.comment-body .comment-content {
	margin-top: 0.5rem;
	padding: $unit;
	background: #fafafa;
}

article.comment-body .comment-content p:last-child {
	margin-bottom: 0;
}

article.comment-body .reply {
	margin-top: 0.5rem;
	font-size: 0.8em;
}

.comment-respond {
	padding: $unit;
	background: #f8f8f8;
}

.comment-respond .comment-reply-title {
	font-size: 1.25em;
}

.comment-respond .comment-notes {
	font-size: 0.875rem;
	line-height: 1.4;
	color: #0d5abc;
}

.comment-respond .required {
	color: $accent;
}

.comment-respond .comment-form label {
	font-size: 0.875rem;
	color: #36393b;
	text-transform: uppercase;
	font-weight: $label-weight;
}

.comment-respond .comment-form p {
	margin-bottom: 1rem;
}

.comment-respond .comment-form p:last-child {
	margin-bottom: 0;
}

.comment-respond .comment-form input[type=checkbox],
.comment-respond .comment-form input[type=radio] {
	margin-right: 5px;
}

.comment-respond .comment-form .form-submit {
	padding-top: 0.5rem;
}

.sharedaddy .sd-title {
	font-size: 0.9em;
}

.tshirt-table {
	border: 1px solid #0d5abc;
}

.tshirt-table th {
	background-color: #0d5abc;
	border: 1px solid #0d5abc;
	color: $white;
	font-size: 1.3em;
	vertical-align: middle;
}

.tshirt-table td,
.tshirt-table th {
	padding: 15px 20px;
	text-align: center;
}

.tshirt-table td {
	border-top: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	font-size: 1.2em;
}

@media only screen and (max-width:767px) {
	.tshirt-table th {
		font-size: 1.1em;
	}

	.tshirt-table td,
	.tshirt-table th {
		padding: 5px 10px;
	}

	.tshirt-table td {
		font-size: 1em;
	}
}

@media screen and (min-width:768px) {
	.entry-title {
		font-size: 2.441rem;
	}

	.page .entry-title,
	.single .entry-title {
		font-size: 3.052em;
	}

}

#secondary-sidebar .widget {
	position: relative;
	background-color: #f8f8f8;
	margin: 0;
	padding: 2.5rem 0 $unit;
}

#secondary-sidebar .widget:before {
	background-color: #f2f2f2;
}

#secondary-sidebar .widget .widget-title {
	font-size: 1.25em;
	text-align: center;
	margin-bottom: 1rem;
}

#secondary-sidebar .widget:before {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: -1000px;
	right: -1000px;
	background-color: inherit;
	content: '';
}

.list-social {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.list-social:after,
.list-social:before {
	content: '';
	display: table;
}

.list-social:after {
	clear: both;
}

.list-social li {
	font-size: 1em;
	line-height: 1.25em;
	display: block;
	margin-top: 0;
	text-align: center;
}

@media (min-width:24em) {
	.list-social li {
		width: 46%;
		display: inline-block;
	}
}

@media (min-width:37.5em) {
	.list-social li {
		width: 30%;
		min-width: 12.5rem;
	}
}

.list-social strong {
	display: block;
	color: inherit;
}

.list-social a {
	position: relative;
	display: block;
	padding: 4.25rem 1rem 1rem;
	color: #36393b;
	border-radius: 0;
	text-decoration: none;
}

.list-social a:empty {
	display: none;
}

.list-social a:after,
.list-social a:before {
	position: absolute;
	top: 20%;
	left: 50%;
	content: '';
}

.list-social a:after {
	font-family: FontAwesome;
	font-size: 2rem;
	transform: translateX(-50%);
	width: 3rem;
	height: 3rem;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 36px;
}

.list-social a:active,
.list-social a:focus,
.list-social a:hover {
	text-decoration: none;
	color: $accent;
	background: $white;
}

.list-social .social-twitter a:after {
	content: '\f099';
}

.list-social .social-facebook a:after {
	content: '\f09a';
}

.list-social .social-instagram a:after {
	content: '\f16d';
}

.site-footer {

	background-color: $accent-dark;
	clear: both;

	input, button {
		&:focus {
			box-shadow: 0 0 9px white;
		}
	}

	a:focus {
		outline-color: $white;
	}

	.site-info {
		padding: 1em 0;
		text-align: center;
	}

	.site-info a {
		color: $white;
		display: inline-block;
		font-size: 0.8125em;
		margin: 0 10px;
		@include link-underline($accent-dark, $white);
	}

	.site-info a.site-info-network:before {
		content: '\f19a';
		font-family: FontAwesome;
		display: inline-block;
		padding-right: .4em;
	}
}

#footer-widgets {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.footer-widgets-block {
	width: 100%;
}

.footer-widgets-block p {
	color: $white;
	font-size: 1em;
}

.footer-widgets-block p a {
	color: #f5f1e8;
	border-bottom: 1px solid #f5f1e8;
}

@media screen and (min-width:768px) {
	#footer-widgets {
		-ms-flex-direction: row;
		flex-direction: row;
	}

	#footer-widget-1 {
		width: 60%;
		padding-right: $unit;
	}

	#footer-widget-2 {
		width: 40%;
		padding-left: $unit;
	}
}

.jetpack_subscription_widget h2.widget-title {
	font-size: 1.25em;
	color: $white;
	margin-bottom: $unit;
}

.jetpack_subscription_widget #subscribe-text p {
	font-size: 0.9375em;
	line-height: 1.4;
}

.jetpack_subscription_widget #subscribe-email {
	display: inline;
}

.jetpack_subscription_widget #subscribe-email input[type=email] {
	float: left;
	background-color: transparent;
	border: 3px solid $white;
	color: $white;
	width: 60%;
	height: 40px;
	box-shadow: none;
	&:focus {
		box-shadow: 0 0 .5em $white;
	}
}

.jetpack_subscription_widget #subscribe-email input[type=email]:-ms-input-placeholder {
	color: rgba(255,255,255,.8);
}

.jetpack_subscription_widget #subscribe-email input[type=email]::placeholder {
	color: rgba(255,255,255,.8);
}

.jetpack_subscription_widget #subscribe-submit {
	display: inline;
}

.jetpack_subscription_widget #subscribe-submit button {
	line-height: 1;
	padding: .7em;
}

.site-footer .jetpack_subscription_widget #subscribe-submit button {
	border: 1px solid $white;
	background-color: $white;
	color: $accent;
}

.entry-content .jetpack_subscription_widget #subscribe-submit button {
	background-color: $accent;
	color: $white;
	border-radius: 0;
	font-size: 120%;
}

.milestone-widget .milestone-content {
	box-shadow: 0 20px 40px rgba(0,0,0,.1);
}

.milestone-widget .milestone-header {
	background: 0 0;
	border-width: 6px;
	border-color: $white;
	border-style: solid;
	border-bottom: none;
}

.milestone-widget .milestone-header strong.event {
	font-size: 1em;
	color: $white;
}

.milestone-widget .milestone-header span.date {
	font-size: 0.8125em;
	color: $white;
}

.milestone-widget .milestone-countdown {
	border: none;
	padding: 1em;
}

.milestone-widget .milestone-countdown .difference {
	color: $accent;
	font-size: 4.768em;
	line-height: 1;
}

.milestone-widget .milestone-countdown .label {
	color: $accent;
}

#tix {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

#tix h2 {
	font-size: 1.563em;
}

#tix #tix-coupon-container input[type=submit] {
	margin-top: 10px;
}

.tix-error {
	background-color: $accent;
	border-color: $accent;
	color: $white;
	padding: 1rem $unit;
}

.tix_tickets_table {
	box-shadow: 0 20px 40px rgba(0,0,0,.1);
}

.tix_tickets_table th {
	background-color: $accent;
	color: $white;
	font-size: 0.9375rem;
}

.tix_tickets_table th {
	padding: 1rem $unit;
}

.tix_tickets_table td {
	padding: $unit;
	border-top: 1px dashed #ddd;
	background-color: $white;
}

.tix-ticket-title {
	display: inline-block;
	font-size: 1.25em;
	margin-bottom: 0.75rem;
}

.tix-ticket-excerpt {
	color: #36393b;
}

.tix-column-per-ticket,
.tix-column-price,
.tix-column-quantity,
.tix-column-remaining {
	color: #36393b;
	font-size: 1em;
	text-align: center;
}

.tix-column-remaining {
	color: #36393b;
}

.tix-row-coupon td,
.tix-row-total td {
	background: #f8f8f8;
}

#tix p:last-child {
	text-align: left;
}

#tix input[type=submit] {
	display: inline-block;
	font-size: 1.125em;
}

.tix-attendee-form td {
	border-top: 1px solid #f2f2f2;
}

.tix-attendee-form td select {
	width: 80%;
}

.tix-attendee-form td input[type=text] {
	width: 100%;
}

.tix-attendee-form .tix-row-first-name td {
	border-top: none;
}

.tix-row-total td {
	font-size: 1.25em;
	text-align: center;
}

.tix-row-total td strong {
	color: #104b8c;
}

.tix-submit {
	float: none !important;
	text-align: center;
}

.tix-submit select {
	width: 150px;
}

.tix-payment-method .tix-payment-tab {
	display: inline-block;
	width: auto;
	float: none;
	color: #104b8c;
	border-bottom: none;
}

.tix-payment-method .tix-payment-tab.tix-tab-selected {
	border-bottom: 2px solid $accent;
	padding-bottom: 8px;
}

#tix .tix-submit .tix-checkout-button {
	border-radius: 0;
	padding: 1rem 2rem;
	float: none;
	margin-top: $unit;
	margin-left: auto;
}

@media only screen and (max-width:767px) {
	.tix_tickets_table td,
	.tix_tickets_table th {
		display: block;
		padding: $unit;
	}

	.tix-row-total td {
		padding-top: 0;
	}

	.tix-column-description {
		text-align: center;
	}

	.tix-order-summary .tix-column-description {
		width: auto;
	}

	td.tix-column-per-ticket,
	td.tix-column-price,
	td.tix-column-quantity,
	td.tix-column-remaining {
		border-top: none;
		border-left: none;
	}

	th.tix-column-description,
	th.tix-column-per-ticket,
	th.tix-column-price,
	th.tix-column-quantity,
	th.tix-column-remaining {
		display: none;
	}

	td.tix-column-price {
		font-size: 1.25em;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		color: $accent;
	}

	td.tix-column-price :before {
		content: 'Price : ';
	}

	td.tix-column-remaining {
		padding-top: 0;
		padding-bottom: 0;
	}

	td.tix-column-remaining:before {
		content: 'Remaining : ';
	}

	td.tix-column-quantity {
		padding-bottom: 2.5rem;
	}

	td.tix-column-quantity::before {
		content: 'Quantity : ';
		display: inline-block;
	}

	td.tix-column-quantity select {
		width: auto;
	}

	.tix-order-summary td.tix-column-description strong {
		font-size: 1.25em;
	}

	.tix-order-summary td.tix-column-per-ticket {
		padding-bottom: 0.5rem;
	}

	.tix-order-summary td.tix-column-quantity {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.tix-order-summary td.tix-column-quantity::before {
		display: inline;
	}

	.tix-order-summary td.tix-column-price {
		color: #104b8c;
	}

	.tix-order-summary .tix-row-total td strong {
		color: $accent;
	}

	td.tix-column-per-ticket::before {
		content: 'Per Ticket : ';
	}

	#tix-coupon-input {
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 80%;
	}

	.tix-row-total td {
		border-top: none;
	}

	.tix-attendee-form td.tix-left,
	.tix-private-form td.tix-left,
	.tix-receipt-form td.tix-left,
	.tix-ticket-form td.tix-left {
		width: auto;
	}

	.tix-attendee-form td.tix-right,
	.tix-private-form td.tix-right,
	.tix-receipt-form td.tix-right,
	.tix-ticket-form td.tix-right {
		border: none;
		padding-top: 0;
		width: auto;
	}

	.tix-submit select {
		display: block;
		margin: 0 auto;
		width: 170px;
	}

	.tix-attendee-form tr td.tix-left,
	.tix-attendee-form tr td.tix-right {
		text-align: left;
	}
}

h3.org-group {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	color: $accent;
	font-size: 1.563em;
	margin-bottom: 2.5rem;
}

h3.org-group:after,
h3.org-group:before {
	content: '';
	border-top: 1px dotted $accent;
	margin: 0 $unit 0 0;
	-ms-flex: 1 0 $unit;
	flex: 1 0 $unit;
}

h3.org-group:after {
	margin: 0 0 0 $unit;
}

.wcorg-organizer h2 {
	color: #104b8c;
	font-size: 1.25em;
}

.wcorg-organizer-description .avatar {
	float: left;
	margin: 0 20px 20px 0;
}

.org-team-leads--global .wordcamp-organizers__title:after,
.org-team-leads--local .wordcamp-organizers__title:after {
	font-size: 0.7em;
}

.org-team-leads--local .wordcamp-organizers__title:after {
	content: '— Local lead';
}

.org-team-leads--global .wordcamp-organizers__title:after {
	content: '— Global lead';
}

.tix-attendee-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tix-attendees .tix-columns-3 li {
	width: 100%;
}

@media (min-width:37.5em) {
	#tix-attendees .tix-columns-3 li {
		width: 50%;
	}

	#tix-attendees .tix-columns-3 li:nth-child(odd) {
		clear: left;
	}
}

@media (min-width:62em) {
	#tix-attendees .tix-columns-3 li {
		width: 33.33333%;
	}

	#tix-attendees .tix-columns-3 li:nth-child(odd) {
		clear: none;
	}

	#tix-attendees .tix-columns-3 li:nth-child(3n+1) {
		clear: left;
	}
}

#tix-attendees:after,
#tix-attendees:before {
	content: '';
	display: table;
}

#tix-attendees:after {
	clear: both;
}

#tix-attendees li {
	position: relative;
	margin-top: 0;
	margin-bottom: 2.5rem;
	height: auto;
	min-height: 3rem;
	padding-left: 4rem;
	padding-right: 0.5rem;
	font-size: 0.8em;
	line-height: 1.25em;
	text-align: left;
}

#tix-attendees .avatar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background-color: $white;
	transition: all 0.15s ease;
}

#tix-attendees a {
	display: block;
}

#tix-attendees a:active,
#tix-attendees a:focus,
#tix-attendees a:hover {
	border-bottom: 0;
	text-decoration: underline;
}

#tix-attendees .tix-field {
	display: block;
	margin: 0 0.5rem 0 0;
	font-size: 14px;
	line-height: 1.5625em;
	vertical-align: middle;
}

#tix-attendees .tix-attendee-name {
	display: block;
	padding-right: 0;
	margin-right: 0;
	margin-bottom: 0.125rem;
	color: #104b8c;
	font-size: 18px;
	line-height: 1.25em;
	background: 0 0;
}

#tix-attendees li:hover .avatar {
	transform: scale(1.1);
}

#tix-attendees .tix-attendee-url {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 11.25rem;
}

#tix-attendees .tix-attendee-twitter:after {
	display: inline-block;
	width: 0.875rem;
	height: 0.875rem;
	margin-left: 0.5rem;
	vertical-align: middle;
	opacity: 0.5;
	content: '';
}

#tix-attendees .tix-attendee-twitter:last-child:after {
	display: none;
}

.wcb_widget_sponsors {
	text-align: center;
}

.wcb_widget_sponsors h2 {
	font-size: 1.25em;
	margin-bottom: 2rem;
}

.wcb_widget_sponsors .sponsor-logo {
	display: inline-block !important;
	margin: 0 auto;
	padding-bottom: 0;
}

.wcb_widget_sponsors .sponsor-logo img {
	margin-bottom: 0;
}

.sponsor-slot {
	border: 4px solid $accent;
	padding: 15px;
	display: inline-block;
	color: $accent;
}

.sponsor-level {
	margin-bottom: $unit;
}

.sponsor-level .sponsor-level-title {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	color: #0d5abc;
	font-size: 1.25em;
	margin-bottom: $unit;
}

.sponsor-level .sponsor-level-title:after,
.sponsor-level .sponsor-level-title:before {
	content: '';
	border-top: 1px dotted #f5f1e8;
	margin: 0 $unit 0 0;
	-ms-flex: 1 0 $unit;
	flex: 1 0 $unit;
}

.sponsor-level .sponsor-level-title:after {
	margin: 0 0 0 $unit;
}

.sponsor-level.venue img {
	max-height: 220px !important;
}

.sponsor-level.gold img {
	max-height: 200px !important;
}

.sponsor-level.silver img {
	max-height: 170px !important;
}

.sponsor-level.bronze img {
	max-height: 130px !important;
}

.sponsor-level.in-kind img {
	max-height: 100px !important;
}

.wcorg-sponsor {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: $unit;
	padding: $unit;
	box-shadow: 0 20px 40px rgba(0,0,0,.1);
}

.wcorg-sponsor h3 {
	display: none;
}

.wcorg-sponsor img {
	margin: 0 auto;
}

.wcorg-sponsor .wp-block-image {
	display: none;
}

.wcorg-sponsor-description img {
	max-width: 100%;
	margin-bottom: $unit;
}

.wcorg-sponsor-level-venue img {
	max-height: 220px !important;
}

.wcorg-sponsor-level-gold img {
	max-height: 200px !important;
}

.wcorg-sponsor-level-silver img {
	max-height: 170px !important;
}

.wcorg-sponsor-level-bronze img {
	max-height: 130px !important;
}

.wcorg-sponsor-level-in-kind img {
	max-height: 100px !important;
}

.wcorg-sponsor-level-bronze h2,
.wcorg-sponsor-level-gold h2,
.wcorg-sponsor-level-in-kind h2,
.wcorg-sponsor-level-silver h2,
.wcorg-sponsor-level-venue h2 {
	display: -ms-flexbox;
	display: flex;
	width: calc(100% + 3rem);
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	color: #0d5abc;
	font-size: 1.563em;
	margin: 2.5rem -$unit $unit;
}

.wcorg-sponsor-level-bronze h2:after,
.wcorg-sponsor-level-bronze h2:before,
.wcorg-sponsor-level-gold h2:after,
.wcorg-sponsor-level-gold h2:before,
.wcorg-sponsor-level-in-kind h2:after,
.wcorg-sponsor-level-in-kind h2:before,
.wcorg-sponsor-level-silver h2:after,
.wcorg-sponsor-level-silver h2:before,
.wcorg-sponsor-level-venue h2:after,
.wcorg-sponsor-level-venue h2:before {
	content: '';
	border-top: 1px dotted #f5f1e8;
	margin: 0 $unit 0 0;
	-ms-flex: 1 0 $unit;
	flex: 1 0 $unit;
}

.wcorg-sponsor-level-bronze h2:after,
.wcorg-sponsor-level-gold h2:after,
.wcorg-sponsor-level-in-kind h2:after,
.wcorg-sponsor-level-silver h2:after,
.wcorg-sponsor-level-venue h2:after {
	margin: 0 0 0 $unit;
}

@media screen and (min-width:768px) {
	.wcorg-sponsor {
		padding: 2.5rem;
	}
}

.wcorg-speaker h2 {
	position: relative;
	color: #104b8c;
	font-size: 1.25em;
}

.wcorg-speaker-description {
	margin-bottom: 4rem;
	padding-bottom: $unit;
	position: relative;
}

.wcorg-speaker-description:after {
	background-color: #eee;
	content: '';
	display: block;
	height: 1px;
	width: 50%;
	position: absolute;
	bottom: 0;
	left: 25%;
}

.wcorg-speaker-description .avatar {
	display: block;
	float: left;
	margin-right: $unit;
}

#speaker-session-names {
	padding-left: 0;
}

.session-date {
	background-color: #104b8c;
	border-radius: 15px;
	color: $white;
	font-size: 1.8em;
	padding: 5px;
	text-align: center;
}

.wcpt-schedule {
	margin: 2.5rem -10rem;
	min-width: calc(100% + 20rem);
	box-shadow: 0 20px 40px rgba(0,0,0,.1);
}

.wcpt-schedule td,
.wcpt-schedule th {
	padding: 1rem $unit;
}

.wcpt-schedule th {
	text-align: center;
	border-top: none;
	background-color: #104b8c;
	color: $white;
}

.wcpt-schedule td {
	border-bottom: 1px solid #f2f2f2;
}

.wcpt-schedule .global-session {
	background-color: #6da9f5;
}

.wcpt-schedule .global-session .wcpt-session-title {
	color: #0b4fa4;
	font-size: 1.125em;
	font-weight: $title-weight;
	letter-spacing: 1px;
}

.wcpt-schedule .global-session td:after {
	display: none;
}

.wcpt-schedule .wcpt-time {
	background-color: #f8f8f8;
	color: #104b8c;
	text-align: center;
}

.wcpt-schedule .wcpt-time-1000am .wcpt-time,
.wcpt-schedule .wcpt-time-100pm .wcpt-time,
.wcpt-schedule .wcpt-time-915am .wcpt-time {
	color: #104b8c;
	text-align: center;
}

.wcpt-schedule .wcpt-time-1000am .wcpt-session-type-custom,
.wcpt-schedule .wcpt-time-100pm .wcpt-session-type-custom,
.wcpt-schedule .wcpt-time-915am .wcpt-session-type-custom {
	background-color: $white;
}

.wcpt-schedule .wcpt-time-1000am.global-session .wcpt-session-title,
.wcpt-schedule .wcpt-time-100pm.global-session .wcpt-session-title,
.wcpt-schedule .wcpt-time-915am.global-session .wcpt-session-title {
	color: #104b8c;
}

.wcpt-schedule .wcpt-session-type-session {
	width: 25%;
}

.wcpt-schedule .wcpt-time-300pm .wcpt-session-type-session {
	background-color: #e4effd;
}

.page-slug-contributor-day .wcpt-col-time {
	width: 10%;
}

.wcb-session-cell-content .wcpt-session-speakers {
	color: #0d5abc;
	display: block;
	font-size: 0.875em;
	padding-top: 10px;
}

.wcb-session-cell-content .wcpt-session-speakers a {
	color: #0d5abc;
	text-decoration: underline;
}

.dashicons-star-filled {
	color: #eee;
}

.global-session .dashicons-star-filled {
	display: none;
}

.wcb-session-cell-content {
	line-height: 1.3;
}

.wcb-session-cell-content .wcpt-session-title {
	color: #104b8c;
}

.wcb-session-cell-content a.wcpt-session-title {
	color: #104b8c;
}

.wcb-session-cell-content a.wcpt-session-title:hover {
	color: $accent;
}

.global-session .wcb-session-cell-content {
	text-align: center;
}

.wcb-favourite-session .dashicons-star-filled {
	color: #0d5abc;
}

.wcb-favourite-session a.wcpt-session-title {
	color: #0d5abc;
}

@media only screen and (max-width:700px) {
	.wcpt-schedule {
		margin-left: 0;
		margin-right: 0;
		min-width: 100%;
	}

	.wcpt-schedule tr {
		border: 1px solid #eee;
	}

	.wcpt-schedule td {
		border-bottom: none;
	}

	.wcpt-schedule td::after {
		display: none;
	}

	.wcpt-schedule .wcpt-session-type-session {
		margin-bottom: 10px;
		width: auto;
	}

	.wcpt-schedule .global-session td {
		padding: 5px;
	}

	.wcb-session-cell-content .wcpt-session-speakers {
		padding-top: 0;
	}
}

@media screen and (min-width:701px) and (max-width:960px) {
	.wcpt-schedule {
		margin-left: -30px;
		margin-right: -30px;
		min-width: calc(100% + 60px);
		max-width: 100vw;
		width: 100%;
	}
}

.tggr-media-item {
	border: none;
	box-shadow: 0 20px 40px rgba(0,0,0,.1);
	border-radius: 2px;
}

.tggr-item-content p {
	font-size: 1rem;
	line-height: 1.4;
}

.tggr-author-profile {
	margin-bottom: 15px;
}

.tggr-author-profile .tggr-author-name {
	font-size: 1em;
	color: #3e4464;
}

.tggr-author-profile .tggr-author-username {
	font-size: 0.9375em;
}

.tggr-timestamp {
	font-size: 0.875rem;
}
